<div class="card">
    <div class="card-header">
        <h1 class="header">Cloth Details</h1>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row no-gutters justify-content-center align-items-center">
                <img class="img-fluid" [src]="clothImg" alt="Cloth Image">
            </div>
            <div class="row no-gutters">
                <div class="col-6">
                    <h3>Type : </h3>
                </div>
                <div class="col-6">
                    <span>{{clothType}}</span>
                </div> 
            </div>
            <div class="row no-gutters">
                <div class="col-6">
                    <h3>Description : </h3>
                </div>
                <div class="col-6">
                    <span>{{description}}</span>
                </div> 
            </div>
            <div class="row no-gutters">
                <div class="col-6">
                    <h3>Quantity : </h3>
                </div>
                <div class="col-6">
                    <span>{{qty}}</span>
                </div> 
            </div>
            <div class="row no-gutters">
                <div class="col-6">
                    <h3>Size : </h3>
                </div>
                <div class="col-6">
                    <span>{{size}}</span>
                </div> 
            </div>
            <div class="row no-gutters">
                <div class="col-6">
                    <h3>Brand : </h3>
                </div>
                <div class="col-6">
                    <span>{{brand}}</span>
                </div> 
            </div>
            <div class="row no-gutters">
                <div class="col-6">
                    <h3>Color : </h3>
                </div>
                <div class="col-6">
                    <span>{{color}}</span>
                </div> 
            </div>
            <div class="row no-gutters">
                <div class="col-6">
                    <h3>Category : </h3>
                </div>
                <div class="col-6">
                    <span>{{categoryName}}</span>
                </div> 
            </div>
        </div>
    </div>
</div>